[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {ref = "feature/threads", git = "https://github.com/Rapptz/discord.py.git"}
bs4 = "*"
lxml = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
