[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = ">=2.0"
bs4 = "*"
lxml = "*"
requests = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
bot = "python main.py"
